html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, main, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, p, a, span {
  font-family: Myriad, "Microsoft JhengHei", sans-serif;
}

#news_nav_area, #news_logo_area, #news_toggle_area, #news_toggle_area label, #news_search_area, #news_pers_inf_area, #news_pers_inf_area #pers_descr #pers_desc-1, main #news_post #news_middle_column #order_button, main #news_post #news_pops_column #news_pops_pages #page ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  height: 100vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  padding: 8px;
  border-bottom: 1px solid #29487d;
}

#news_nav_area {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: none;
}

#news_nav_area nav {
  position: fixed;
  left: 0;
  top: 60px;
  z-index: 5;
  width: 280px;
  height: 100vh;
  padding: 8px 0;
  overflow: auto;
}

#news_nav_area nav ul {
  width: 100%;
}

#news_nav_area nav ul li {
  margin-top: 5px;
  height: 42px;
}

#news_nav_area nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 99%;
  height: 100%;
}

#news_nav_area nav ul li a .bar_icon {
  margin-left: 30px;
  font-size: 16pt;
}

#news_nav_area nav ul li a .bar_descr {
  text-align: center;
  margin-left: 20px;
}

#news_logo_area {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4px;
}

#news_logo_area div {
  padding: 0 5px;
}

#news_logo_area div a:hover {
  text-decoration: none;
}

#news_logo_area div a img {
  display: block;
  height: 50px;
  width: 100px;
}

#news_toggle_area {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 4px;
  height: 40px;
}

#news_toggle_area label a:hover {
  text-decoration: none;
}

#news_toggle_area label a span {
  color: #fff;
}

#news_toggle_area label #switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin: 0 3px;
  /* Rounded sliders */
}

#news_toggle_area label #switch #switchToggle {
  display: none;
}

#news_toggle_area label #switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cccccc;
  -webkit-transition: .4s;
  transition: .4s;
}

#news_toggle_area label #switch .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

#news_toggle_area label #switch input:checked + .slider {
  background-color: #2196F3;
}

#news_toggle_area label #switch input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
          box-shadow: 0 0 1px #2196F3;
}

#news_toggle_area label #switch input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}

#news_toggle_area label #switch .slider.round {
  border-radius: 34px;
}

#news_toggle_area label #switch .slider.round:before {
  border-radius: 50%;
}

#news_toggle_area label #switch:hover {
  text-decoration: none;
}

#news_search_area {
  -webkit-box-flex: 8;
      -ms-flex-positive: 8;
          flex-grow: 8;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 4px;
}

#news_pers_inf_area {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 4px;
}

#news_pers_inf_area #pers_descr {
  padding: 4px;
}

#news_pers_inf_area #pers_descr #pers_desc-1 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1px;
}

#news_pers_inf_area #pers_descr #pers_desc-1 #pers_name a:hover {
  text-decoration: none;
}

#news_pers_inf_area #pers_descr #pers_desc-1 #pers_location a:hover {
  text-decoration: none;
}

#news_pers_inf_area #pers_descr #pers_desc-2 {
  padding: 1px;
}

#news_pers_inf_area #pers_descr #pers_desc-2 a:hover {
  text-decoration: none;
}

#news_pers_inf_area #pers_icon {
  padding: 4px;
}

#news_pers_inf_area #pers_icon a img {
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: calc( 100vh - 60px);
  position: relative;
  z-index: 2;
  padding: 20px 32px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main #map {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  bottom: 0;
  z-index: 3;
}

main #map iframe {
  display: block;
  width: 100%;
  height: 100%;
}

main #news_post {
  border-radius: 5px;
  height: 99%;
  width: 30%;
  z-index: 4;
  overflow: auto;
}

main #news_post #news_middle_column {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

main #news_post #news_middle_column #order_button {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 50px;
  padding: 16px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

main #news_post #news_middle_column #order_button i {
  z-index: 99;
}

main #news_post #news_middle_column #order_button ul {
  position: absolute;
  top: 50px;
  left: 0;
  bottom: 0;
  display: none;
  width: 100%;
  height: 100vh;
}

main #news_post #news_pops_column .news_pop {
  width: 100%;
  padding: 8px;
}

main #news_post #news_pops_column .news_pop .news_pop_main .news_class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 8px;
}

main #news_post #news_pops_column .news_pop .news_pop_main .news_class a {
  display: block;
  border-radius: 10px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 8px 8px;
}

main #news_post #news_pops_column .news_pop .news_pop_main .news_title {
  padding: 8px;
  margin-bottom: 8px;
}

main #news_post #news_pops_column .news_pop .news_pop_main .news_icon_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main #news_post #news_pops_column .news_pop .news_pop_main .news_icon_bar .news_icon_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 8px;
}

main #news_post #news_pops_column .news_pop .news_pop_main .news_icon_bar .news_icon_items .news_icon {
  padding-right: 4px;
}

main #news_post #news_pops_column .news_pop .news_pop_main .news_icon_bar .news_icon_items .news_descr {
  padding-right: 8px;
}

main #news_post #news_pops_column .news_hr {
  margin: 8px 0;
  height: 2px;
  border: 0;
  height: 1.5px;
  background: #87acd9;
  background-image: -webkit-gradient(linear, left top, right top, from(#ccc), color-stop(#87acd9), to(#ccc));
  background-image: linear-gradient(to right, #ccc, #87acd9, #ccc);
}

main #news_post #news_pops_column #news_pops_pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #news_post #news_pops_column #news_pops_pages #page {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

main #news_post #news_pops_column #news_pops_pages #page ul {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main #news_post #news_pops_column #news_pops_pages #page ul li {
  padding: 0 1px;
}

main #news_post #news_pops_column #news_pops_pages #page ul li a {
  padding: 0 4px;
}

#news_post #news_headlines_column {
  display: none;
}

#news_post #news_middle_column #news_pop_caption {
  display: none;
}

#news_post #news_pops_column .news_pop .news_pop_img {
  display: none;
}

#news_post #news_pops_column .news_pop .pers_card {
  display: none;
}

#recommand_column {
  display: none;
}

header {
  background-color: #6a77e7;
}

#news_nav_area nav {
  background-color: #ff0ff0;
}

#news_nav_area nav ul li a {
  background-color: #fff;
}

#news_logo_area div a {
  color: #ffffff;
}

#news_toggle_area a {
  color: #ffffff;
}

#news_pers_inf_area #pers_descr #pers_desc-1 #pers_name a {
  color: #fff;
}

#news_pers_inf_area #pers_descr #pers_desc-1 #pers_location a {
  color: #fff;
}

#news_pers_inf_area #pers_descr #pers_desc-2 a {
  color: #fff;
}

#news_pers_inf_area #pers_icon a {
  color: #fff;
}

main {
  background-color: #ffffff;
}

main #news_post {
  background-color: #ffffff;
}

main #news_post #news_middle_column #order_button {
  background-color: #6a77e7;
}

main #news_post #news_middle_column #order_button ul {
  background-color: #ff0ff0;
}

main #news_post #news_pops_column .news_pop {
  background-color: #ffffff;
}

main #news_post #news_pops_column .news_pop .news_pop_main .news_class a {
  background-color: #9ce086;
  color: #000;
}

main #news_post #news_pops_column .news_pop .news_pop_main .news_class a .news_clss_span {
  color: #ffffff;
}

main #news_post #news_pops_column .news_pop .news_pop_main .news_title {
  background-color: #ffffff;
}

main #news_post #news_pops_column .news_pop .news_pop_main .news_title a {
  color: #000;
}

main #news_post #news_pops_column .news_pop .news_pop_main .news_icon_bar .news_distance {
  color: #0a46a8;
}

main #news_post #news_pops_column .news_pop .news_pop_main .news_icon_bar .news_views {
  color: #fd9c33;
}

main #news_post #news_pops_column .news_pop .news_pop_main .news_icon_bar .news_rate {
  color: #fe0f6d;
}

main #news_post #news_pops_column .news_pop .news_pop_main .news_icon_bar .news_icon_items .news_descr a {
  color: #000;
}

main #news_post #news_pops_column .news_hr {
  margin: 8px 0;
  height: 2px;
  border: 0;
  height: 1.5px;
  background: #87acd9;
  background-image: -webkit-gradient(linear, left top, right top, from(#ccc), color-stop(#87acd9), to(#ccc));
  background-image: linear-gradient(to right, #ccc, #87acd9, #ccc);
}
/*# sourceMappingURL=default.css.map */