html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, main, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, p, a, span {
  font-family: Myriad, "Microsoft JhengHei", sans-serif;
}

#news_nav_area, #news_logo_area, #news_toggle_area, #news_toggle_area label, #news_search_area, #news_pers_inf_area, #news_pers_inf_area #pers_descr #pers_desc-1, #news_content_main_2 #news_class a, #news_content_main_4 #news_content_main4_icon, #news_content_main_4 #news_trim a, #comment_section .comment .news_content_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  padding: 8px;
  border-bottom: 1px solid #29487d;
  background-color: #6a77e7;
}

#news_nav_area {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: none;
}

#news_nav_area nav {
  position: fixed;
  left: 0;
  top: 60px;
  z-index: 5;
  width: 280px;
  height: 100vh;
  padding: 8px 0;
  overflow: auto;
  background-color: #ff0ff0;
}

#news_nav_area nav ul {
  width: 100%;
}

#news_nav_area nav ul li {
  margin-top: 5px;
  height: 42px;
}

#news_nav_area nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 99%;
  height: 100%;
  background-color: #fff;
}

#news_nav_area nav ul li a .bar_icon {
  margin-left: 30px;
  font-size: 16pt;
}

#news_nav_area nav ul li a .bar_descr {
  text-align: center;
  margin-left: 20px;
}

#news_logo_area {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4px;
}

#news_logo_area div {
  padding: 0 5px;
}

#news_logo_area div a {
  color: #ffffff;
}

#news_logo_area div a:hover {
  text-decoration: none;
}

#news_logo_area div a img {
  display: block;
  height: 50px;
  width: 100px;
}

#news_toggle_area {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 4px;
  height: 40px;
}

#news_toggle_area label a:hover {
  text-decoration: none;
}

#news_toggle_area label a span {
  color: #fff;
}

#news_toggle_area label #switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin: 0 3px;
  /* Rounded sliders */
}

#news_toggle_area label #switch #switchToggle {
  display: none;
}

#news_toggle_area label #switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cccccc;
  -webkit-transition: .4s;
  transition: .4s;
}

#news_toggle_area label #switch .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

#news_toggle_area label #switch input:checked + .slider {
  background-color: #2196F3;
}

#news_toggle_area label #switch input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
          box-shadow: 0 0 1px #2196F3;
}

#news_toggle_area label #switch input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}

#news_toggle_area label #switch .slider.round {
  border-radius: 34px;
}

#news_toggle_area label #switch .slider.round:before {
  border-radius: 50%;
}

#news_toggle_area label #switch:hover {
  text-decoration: none;
}

#news_search_area {
  -webkit-box-flex: 8;
      -ms-flex-positive: 8;
          flex-grow: 8;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 4px;
}

#news_pers_inf_area {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 4px;
}

#news_pers_inf_area #pers_descr {
  padding: 4px;
}

#news_pers_inf_area #pers_descr #pers_desc-1 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1px;
}

#news_pers_inf_area #pers_descr #pers_desc-1 #pers_name a {
  color: #fff;
}

#news_pers_inf_area #pers_descr #pers_desc-1 #pers_name a:hover {
  text-decoration: none;
}

#news_pers_inf_area #pers_descr #pers_desc-1 #pers_location a {
  color: #fff;
}

#news_pers_inf_area #pers_descr #pers_desc-1 #pers_location a:hover {
  text-decoration: none;
}

#news_pers_inf_area #pers_descr #pers_desc-2 {
  padding: 1px;
}

#news_pers_inf_area #pers_descr #pers_desc-2 a {
  color: #fff;
}

#news_pers_inf_area #pers_descr #pers_desc-2 a:hover {
  text-decoration: none;
}

#news_pers_inf_area #pers_icon {
  padding: 4px;
}

#news_pers_inf_area #pers_icon a {
  color: #fff;
}

#news_pers_inf_area #pers_icon a img {
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 8px 32px 0px;
  background-color: #f6f6f6;
}

#news_pops_column {
  border-radius: 5px;
  width: 870px;
}

#news_content_caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 16pt;
  width: 98%;
  height: 60px;
  padding: 8px;
  margin: 8px auto 0px;
  border-bottom: 2px solid;
  border-bottom-color: #6a77e7;
  position: relative;
  font-weight: bolder;
}

#news_content_caption span {
  color: #6a77e7;
}

#news_content_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

#news_content_main_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 8px;
}

#news_content_main_1 #return_list a {
  color: #6a77e7;
  font-weight: bolder;
}

#news_content_main_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

#news_content_main_2 #news_class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 8px 16px 4px 0;
}

#news_content_main_2 #news_class a {
  border-radius: 10px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 8px 8px;
  background-color: #78bc62;
  color: #ffffff;
}

#news_content_main_2 #news_class a .news_clss_span {
  color: #ffffff;
}

#news_content_main_2 #news_icon_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#news_content_main_2 #news_icon_bar .news_icon_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 0 4px;
}

#news_content_main_2 #news_icon_bar .news_icon_items .news_icon {
  padding-right: 4px;
}

#news_content_main_2 #news_icon_bar .news_icon_items .news_descr {
  padding-right: 8px;
}

#news_content_main_2 #news_icon_bar .news_icon_items .news_descr a {
  color: #000;
}

#news_content_main_2 #news_icon_bar .news_distance {
  color: #0a46a8;
}

#news_content_main_2 #news_icon_bar .news_views {
  color: #fd9c33;
}

#news_content_main_2 #news_icon_bar .news_rate {
  color: #fe0f6d;
}

#news_content_main_3 {
  width: 870px;
  padding: 16px;
  line-height: 22px;
}

#news_content_main_4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 130px;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}

#news_content_main_4 #news_content_main4_icon {
  height: 100%;
  width: 110px;
}

#news_content_main_4 #news_content_main4_icon img {
  height: 100px;
  width: 100px;
}

#news_content_main_4 #news_content_ration {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  padding: 8px;
}

#news_content_main_4 #news_content_ration #news_content_rate_descr {
  line-height: 24px;
}

#news_content_main_4 #news_content_ration #news_content_rate_descr a {
  text-decoration: none;
}

#news_content_main_4 #news_trim {
  height: 70px;
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 16px;
}

#news_content_main_4 #news_trim a {
  background-color: #19a1c9;
  color: #ffffff;
  border-radius: 10px;
  padding: 8px 24px;
  text-decoration: none;
}

#review #review_caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 16pt;
  width: 98%;
  height: 60px;
  padding: 8px;
  margin: 8px auto 0px;
  border-bottom: 2px solid;
  border-bottom-color: #6a77e7;
  position: relative;
  font-weight: bolder;
}

#review #review_caption span {
  color: #6a77e7;
}

#review #review_content {
  height: auto;
  padding: 8px;
}

#review #review_content .input-item {
  width: 100%;
  height: auto;
  line-height: 24px;
  padding: 8px;
  background-color: #fff;
  -moz-user-select: text;
   -ms-user-select: text;
       user-select: text;
  -webkit-user-select: text;
}

#review #review_content .input-item.empty:before {
  content: attr(data-placeholder);
  color: #bbb;
  position: absolute;
}

#review #review_submit {
  text-align: right;
  border-bottom: 1px solid #000000;
  padding: 8px;
}

#review #review_submit input {
  background-color: #6a77e7;
  border: none;
  color: white;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

#comment_section .comment {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 24px;
  width: 870px;
  padding: 8px;
  border: 1px solid #000;
  border-radius: 10px;
}

#comment_section .comment .news_content_icon {
  height: 110px;
  width: 110px;
}

#comment_section .comment .news_content_icon img {
  height: 100px;
  width: 100px;
}

#comment_section .comment .comment_main {
  margin-left: 8px;
  padding-top: 8px;
  height: 100%;
}

#comment_section .comment .comment_main .comment_pers_name {
  font-size: 16pt;
  font-weight: bolder;
  color: blue;
}

#comment_section .comment .comment_main .comment_descr {
  margin-top: 4px;
  font-size: 12pt;
  line-height: 24px;
  word-break: break-all;
}

.news_hr {
  margin: 8px 0;
  height: 2px;
  border: 0;
  height: 1.5px;
  background: #87acd9;
  background-image: -webkit-gradient(linear, left top, right top, from(#ccc), color-stop(#87acd9), to(#ccc));
  background-image: linear-gradient(to right, #ccc, #87acd9, #ccc);
}

#recommand_column {
  width: 230px;
  height: 99%;
  background-color: #fff;
  padding: 4px;
  border-radius: 5px;
  margin-left: 4px;
}

#recommand_column #class_tags #class_tags_caption {
  border-bottom: 3px solid #78bc62;
  color: #78bc62;
  font-size: 16pt;
  text-align: right;
  padding: 32px 16px 16px 0;
  position: relative;
}

#recommand_column #class_tags #class_tags_caption .transparent_img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#recommand_column #class_tags #class_tags_content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 8px 4px;
}

#recommand_column #class_tags #class_tags_content ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 8px;
}

#recommand_column #class_tags #class_tags_content ul li a {
  background: #78bc62;
  color: #ffffff;
  border-radius: 10px;
  padding: 8px;
  text-align: center;
}

#recommand_column #recommand_top5 #recommand_top5_caption {
  border-bottom: 3px solid #6a77e7;
  color: #6a77e7;
  font-size: 16pt;
  text-align: right;
  padding: 32px 16px 16px 0;
  position: relative;
}

#recommand_column #recommand_top5 #recommand_top5_caption .transparent_img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#recommand_column #recommand_top5 #recommand_top5_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 4px;
}

#recommand_column #recommand_top5 #recommand_top5_content .recommand_top5_news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 4px;
}

#recommand_column #recommand_top5 #recommand_top5_content .recommand_top5_news .recommand_top5_news_class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#recommand_column #recommand_top5 #recommand_top5_content .recommand_top5_news .recommand_top5_news_class a {
  background: #78bc62;
  color: #ffffff;
  border-radius: 10px;
  padding: 8px;
  text-align: center;
  margin-right: 4px;
  margin-top: 4px;
}

#recommand_column #recommand_top5 #recommand_top5_content .recommand_top5_news .recommand_top5_news_title {
  margin-top: 16px;
}

#recommand_column #recommand_top5 #recommand_top5_content .recommand_top5_news .recommand_top5_news_title a {
  color: black;
}

#recommand_column #recommand_top5 #recommand_top5_content .recommand_top5_news .recommand_top5_news_title a:hover {
  text-decoration: none;
}

#recommand_column #recommand_top5 #recommand_top5_content .recommand_top5_news_hr {
  margin: 8px 0;
  height: 2px;
  border: 0;
  height: 1.5px;
  background: #87acd9;
  background-image: -webkit-gradient(linear, left top, right top, from(#ccc), color-stop(#87acd9), to(#ccc));
  background-image: linear-gradient(to right, #ccc, #87acd9, #ccc);
}

#recommand_column footer {
  margin-top: 64px;
  text-align: right;
  font-size: 8pt;
  color: #ccc;
  position: relative;
}

#recommand_column footer .transparent_img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 60px;
}
/*# sourceMappingURL=default.css.map */