html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, main, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, p, a, span {
  font-family: Myriad, "Microsoft JhengHei", sans-serif;
}

#news_nav_area, #news_logo_area, #news_toggle_area, #news_toggle_area label, #news_search_area, #news_pers_inf_area, #news_pers_inf_area #pers_descr #pers_desc-1, main, .login_signup_view .okBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  height: 100vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  padding: 8px;
  border-bottom: 1px solid #29487d;
  background-color: #6a77e7;
}

#news_nav_area {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: none;
}

#news_nav_area nav {
  position: fixed;
  left: 0;
  top: 60px;
  z-index: 5;
  width: 280px;
  height: 100vh;
  padding: 8px 0;
  overflow: auto;
  background-color: #ff0ff0;
}

#news_nav_area nav ul {
  width: 100%;
}

#news_nav_area nav ul li {
  margin-top: 5px;
  height: 42px;
}

#news_nav_area nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 99%;
  height: 100%;
  background-color: #fff;
}

#news_nav_area nav ul li a .bar_icon {
  margin-left: 30px;
  font-size: 16pt;
}

#news_nav_area nav ul li a .bar_descr {
  text-align: center;
  margin-left: 20px;
}

#news_logo_area {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4px;
}

#news_logo_area div {
  padding: 0 5px;
}

#news_logo_area div a {
  color: #ffffff;
}

#news_logo_area div a:hover {
  text-decoration: none;
}

#news_logo_area div a img {
  display: block;
  height: 50px;
  width: 100px;
}

#news_toggle_area {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 4px;
  height: 40px;
}

#news_toggle_area label a:hover {
  text-decoration: none;
}

#news_toggle_area label a span {
  color: #fff;
}

#news_toggle_area label #switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin: 0 3px;
  /* Rounded sliders */
}

#news_toggle_area label #switch #switchToggle {
  display: none;
}

#news_toggle_area label #switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cccccc;
  -webkit-transition: .4s;
  transition: .4s;
}

#news_toggle_area label #switch .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

#news_toggle_area label #switch input:checked + .slider {
  background-color: #2196F3;
}

#news_toggle_area label #switch input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
          box-shadow: 0 0 1px #2196F3;
}

#news_toggle_area label #switch input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}

#news_toggle_area label #switch .slider.round {
  border-radius: 34px;
}

#news_toggle_area label #switch .slider.round:before {
  border-radius: 50%;
}

#news_toggle_area label #switch:hover {
  text-decoration: none;
}

#news_search_area {
  -webkit-box-flex: 8;
      -ms-flex-positive: 8;
          flex-grow: 8;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 4px;
}

#news_pers_inf_area {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 4px;
}

#news_pers_inf_area #pers_descr {
  padding: 4px;
}

#news_pers_inf_area #pers_descr #pers_desc-1 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1px;
}

#news_pers_inf_area #pers_descr #pers_desc-1 #pers_name a {
  color: #fff;
}

#news_pers_inf_area #pers_descr #pers_desc-1 #pers_name a:hover {
  text-decoration: none;
}

#news_pers_inf_area #pers_descr #pers_desc-1 #pers_location a {
  color: #fff;
}

#news_pers_inf_area #pers_descr #pers_desc-1 #pers_location a:hover {
  text-decoration: none;
}

#news_pers_inf_area #pers_descr #pers_desc-2 {
  padding: 1px;
}

#news_pers_inf_area #pers_descr #pers_desc-2 a {
  color: #fff;
}

#news_pers_inf_area #pers_descr #pers_desc-2 a:hover {
  text-decoration: none;
}

#news_pers_inf_area #pers_icon {
  padding: 4px;
}

#news_pers_inf_area #pers_icon a {
  color: #fff;
}

#news_pers_inf_area #pers_icon a img {
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

main {
  background-image: url(../img/paper-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: calc( 100vh - 60px);
}

#checkView {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 390px;
  width: 800px;
}

.login_signup_view {
  width: 48%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16pt;
  border-radius: 10px;
}

.login_signup_view .inputView {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px;
  width: 360px;
}

.login_signup_view .inputView .editTxt {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom: 1px solid #000;
}

.login_signup_view .inputView .editTxt label {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login_signup_view .inputView .editTxt label span {
  padding: 0 4px;
  width: 25%;
}

.login_signup_view .inputView .editTxt label input {
  width: 75%;
  background-color: transparent;
  font-size: 12pt;
  height: 100%;
  border: none;
  padding: 4px 8px;
}

.login_signup_view .inputView .editTxt label input::-webkit-input-placeholder {
  color: #9e9c9c;
  font-size: 16pt;
}

.login_signup_view .inputView .editTxt label input:-ms-input-placeholder {
  color: #9e9c9c;
  font-size: 16pt;
}

.login_signup_view .inputView .editTxt label input::-ms-input-placeholder {
  color: #9e9c9c;
  font-size: 16pt;
}

.login_signup_view .inputView .editTxt label input::placeholder {
  color: #9e9c9c;
  font-size: 16pt;
}

.login_signup_view .inputView .editTxt label input:focus {
  boder: none;
  outline: none;
}

.login_signup_view .okBtn {
  background-color: #6a77e7;
  height: 60px;
  width: 360px;
  border-radius: 10px;
  margin-top: 30px;
}

.login_signup_view .okBtn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-decoration: none;
}
/*# sourceMappingURL=default.css.map */