<div class="loginWrap">
  <mat-card [@loginState]="state">
    <mat-card-header>
      <mat-card-title>
        <span>
          請輸入要註冊或登入的帳號密碼
        </span>
      </mat-card-title>
      <mat-card-subtitle *ngIf="loginError">
        <span class="loginFailMsg">
          輸入的帳號或密碼有誤
        </span>
      </mat-card-subtitle>
    </mat-card-header>
    <form [formGroup]="login" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <mat-form-field>
          <input matInput type="email" placeholder="E-mail帳號" [formControlName]="'account'" (keydown.space)="$event.preventDefault()">
          <mat-error *ngIf="login.hasError('email',['account'])">輸入正確信箱</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="密碼" [formControlName]="'password'" (keydown.space)="$event.preventDefault()">
          <mat-error *ngIf="login.hasError('minlength',['password'])">至少輸入6位數</mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button type="submit" color="primary"> 登入 </button>
        <button mat-raised-button type="button" color="primary" (click)="goSignup()"> 註冊 </button>
      </mat-card-actions>
    </form>
  </mat-card>
  <app-signup [basicInfo]='basicInfo' [@signupState]="state" (changeStateToLogin)=" state = 'login'" (changeStateToSuccess)="state = 'success'" class="signup"></app-signup>
  <app-signup-success [@successState]='state' class="signupSuccess"></app-signup-success>
</div>
